.socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background-color: var(--color-primary);
}

.me {
    background: linear-gradient(var(--color-primary), transparent);
    height: 27rem;
}

@media screen and (max-width: 1024px) {
    .header {
        background: green;
        height: 60vh;
    }
}

@media screen and (max-width: 600px){
    .header {
        height: 100vh;
    }
    .socials, .scroll_down {
        display: none;
    }
    a {
        font-weight: 300;
    }
}
